h1{
    color : rgb(4, 6, 73)
}
.header{
border: 4px solid burlywood;
background-color: azure;
margin: 50px 500px 75px 500px;
position: relative;
left: -20%;


}

.header2{
    border: 4px solid rgb(4, 6, 73);
    background-color: darkkhaki;
    margin: 50px 500px 75px 500px;
    position: fixed;
    top: 50%;
    left: -50%;


    
}

.header3{
    border: 4px solid blueviolet;
    background-color: antiquewhite;
    margin: 50px 500px 75px 500px;
   

    
}

.header4{
    border: 4px solid  aquamarine;
    background-color: blanchedalmond;
    margin: 50px 500px 75px 500px;

    
}